{% extends "layout.html" %}

{% block body %}
  <h2>Update Item</h2>

  <form method="post" action="{{ url_for('editCatItem', category_id=category_id, item_id = item.id) }}">
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <input type="text" id="itemName" name="itemName" value="{{item.name}}" class="form-control" placeholder="Title" required autofocus>
    </div>
    <div class="form-group">
      <label for="itemCatId">Item Category</label>
      <select id="itemCatId" name="itemCatId">
        {% for cat in categories %}
          <option value="{{ cat.id }}" {%- if cat.id==item.category.id -%}selected{% endif %}>{{ cat.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="itemDesc">Item Description</label>
      <textarea id="itemDesc" name="itemDesc" class="form-control" placeholder="Description" style="height: 15em;" required>{{item.description}}</textarea>
    </div>
    <nav>
      <ul class="pager">
        <li>
          <button type="submit" class="btn btn-lg btn-primary btn-round-lg">Update</button>
          </form>
        </li>
        <li>
          <form method="get" action="{{ url_for('showCatItems', category_id=category_id) }}" class="inline">
            <button type="submit" class="btn btn-lg btn-default btn-round-lg">Cancel</button>
          </form>
        </li>
      </ul>
    </nav>
{% endblock %}
