<div class="col-xs-6">
  <div class="menu-category list-group">
    <div class="menu-category-name list-group-item active">
      <div class="row">
        <div class="col-xs-12">Latest Items</div>
      </div>
    </div>
    {% for item in items %}
      <div class="menu-item list-group-item">
        <div class="row">
          <div class="col-xs-6">
            <a href="{{ url_for('showCatItemDetail',category_id = item.category.id, item_id = item.id) }}">{{ item.name }} ({{ item.category.name }})</a>
          </div>
          {% if item.user_id == user.user_id %}
            <div class="col-xs-6 text-right">
              <a href="{{ url_for('editCatItem',category_id = item.category.id, item_id = item.id) }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
              <a href="{{ url_for('deleteCatItem',category_id = item.category.id, item_id = item.id) }}">
                <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
