{% extends "layout.html" %}

{% block body %}

<div class="text-center">
  <!-- GOOGLE PLUS SIGN IN-->
  <div id="signInButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="1094282705931-4vtd37vlg8uugfj6o03j8kahppii4o46.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
  <div id="result"></div>
  <form name="gconnect" id="gconnect" action="/gconnect" method="post">
    <input type="hidden" name="state" id="state" value="{{STATE}}">
    <input type="hidden" name="data" id="data">
  </form>
  <script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      console.log("signInCallback running...");
      $('#signinButton').attr('style', 'display: none');
      document.getElementById('data').value = authResult['code'];
      document.getElementById('gconnect').submit();
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
      /*
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
              window.location.href = "/";
            }, 4000);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
      */
    }
  }
  </script>
  <!--END GOOGLE PLUS SIGN IN -->
</div>

{% endblock %}
